.form-input
    display: block
    width: 100%
    background: #EFF1F1
    padding: 0 10px
    height: 60px
    font-size: 15px
    border-radius: 2px
    border: 0


.form-button
    display: block
    width: 100%
    padding: 0 20px
    height: 60px
    line-height: 58px
    font-weight: 600
    font-size: 15px
    border-radius: 2px
    border: 1px solid #24BBF6
    background-color: #24BBF6
    color: #fff
    text-transform: uppercase
    text-align: center

.form-inline
    .form-input
        margin-right: 5px

.form-disclaimer
    margin: 30px 0
    line-height: 18px

button[disabled]
    opacity: .5

button:enabled
    cursor: pointer

@media (max-width: 991px)
    .form-input
        margin-bottom: 16px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0;

input[type=number] 
    -moz-appearance: textfield
